.home {
    display: inline-block;
    margin: 0 auto;
    flex-flow: column;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.main{
    height: calc(100vh - 50px);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}