.sidenav {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    margin-top: 50px;
  }

.links {
    list-style-type: none;
    padding: 0;
    margin: 0
  }


.link {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  border-top: 1px solid white;
  text-align: center;
}

.active {
  color: red;
}